@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:ital,wght@0,200;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/* Header */
.header{
    width: 100%;
    height: 80px;
    display: block;
    background: #101010;  
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'roboto', serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li:hover{
    color: #D6A4A4;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'roboto', serif;
    font-size: 16px;
}

/* Banner */

.banner{
    width: 100%;
    height: 91vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 25s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner-txt{
    position: absolute;
    top: 35%;
    left: 30%;
}

.banner-txt h1{
    color: white;
    font-size: 3.5rem;
    font-family: 'roboto', serif;
    font-weight: 300;
    text-shadow: .3rem .3rem 2px rgba(0, 0, 0, .4);
    line-height: 6rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBannertxt 1s 0.7s forwards;
}

.banner-txt p{
    font-family: 'roboto', serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    text-shadow: .3rem .2rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBannertxt 1s 0.5s forwards;
}

.banner-txt button{
    font-family: 'roboto', serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    background: #000000;
    background: -webkit-linear-gradient(to right, #202020, #000000);
    background: linear-gradient(to right, #202020, #000000);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBannertxt 1s 0.9s forwards;
    text-shadow: .3rem .2rem 2px rgba(0, 0, 0, .4);
}

.banner-txt button:hover{
    opacity: 0.8;
    background: #000000;
    background: -webkit-linear-gradient(to right, #202020, #000000);
    background: linear-gradient(to left, #202020, #000000);
}

@keyframes moveBannertxt {
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}